# mongo.conf

#where to log
# 로그 파일 경로 결정
logpath=/database/mongodb/mongod.log

# 로그 추가설정
logappend=true

# fork and run in background
# 포크와 백그라운드 실행에 대한 여부 결정 default : fork
fork = true

# DB 접속 포트 결정 ( default : 27017 )
port = 27017

# 데이터 파일 저쟝위치
#dbpath=/database/mongodb/data

# location of pidfile
# pid 파일 위치 ( pid : 실행된 mongod의 process number를 저장한 파일)
#pidfilepath = /database/mongodb/mongod.pid

# Disables write-ahead journaling
# 미리쓰기 저널링 비활성화합니다
# nojournal = true

# Enables periodic logging of CPU utilization and
# CPU 사용률 / I/O wait 을 정기적으로 로깅
#cpu = true

# Turn on/off security.  Off is currently the default
# 오프 보안 을 선택 합니다. 오프 현재 기본적으로
#noauth = true
auth = true

# Verbose logging output.
# 자세한 정보를 로그에 기록
#verbose = true

# Inspect all client data for validity on receipt (useful for developing drivers)
# 모든 클라이언트 테이터에 대한 유효성 검사 ( 드라이버 개발에 유용)
#objcheck = true

# Enable db quota management
# DB 할당량 관리를 활성화
#quota = true

# Set oplogging level where n is
#   0=off (default)
#   1=W
#   2=R
#   3=both
#   7=W+some reads
# oplogging 수준. 내용은 아래와 같음
#   0=off (default)
#   1=W
#   2=R
#   3=both
#   7=W+some reads
#diaglog = 0

# Ignore query hints
# 쿼리 힌트를 무시
#nohints = true

# Disable the HTTP interface (Defaults to localhost:27018).
# HTTP 인터페이스 해제 (로컬 호스트의 기본값 : 27018)
#nohttpinterface = true

# Turns off server-side scripting.  This will result in greatly limited
# server-side 스크립팅을 해제
# functionality
# 기능
#noscripting = true

# Turns off table scans.  Any query that would do a table scan fails.
# 테이블 스켄을 못하게 함
#notablescan = true

# Disable data file preallocation.
# 데이터 파일의 할당을 비활성화
#noprealloc = true

# Specify .ns file size for new databases.
# 새로운 데이터베이스의 .ns 파일 사이즈를 지정
# nssize = <size>

# Accout token for Mongo monitoring server.
# 모니터링 서버의 Accout token(?)
#mms-token = <token>

# Server name for Mongo monitoring server.
# 모니터링 서버의 서버명
#mms-name = <server-name>

# Ping interval for Mongo monitoring server.
# 모니터링 서버의 ping 간격
#mms-interval = <seconds>

## Replication Options
# 복제옵션

# in replicated mongo databases, specify here whether this is a slave or master
# 슬레이브 또는 마스터 인지 여부를 여기서 지정한

# 슬레이브 일 경우
#slave = true
#source = master.example.com
# Slave only: specify a single database to replicate
#only = master.example.com

# or
# 마스터 일경우
#master = true
#source = slave.example.com